.react-chatbot-kit-chat-container {
    width: 400px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    
}



.react-chatbot-kit-chat-bot-message {
    width: 1000px;
}



th,td{
    border: 1px solid black;
    text-align: center;
}
